<%- include("partials/header.ejs") %>
<br>
<br>
        <div class="container">
            <div class="blog-post-form" style="padding-top:1em">
                <p style="line-height: 1.6em;">Introducing Blog Web App your all-in-one platform for sharing stories, ideas, and insights. With a user-friendly interface, seamless publishing tools, and vibrant community engagement, this makes it easy to connect, create, and inspire. Join us and start sharing your thoughts today. The technologies utilized to create this webapp are: NodeJS, ExpressJS for the server, EJS for templating, and CSS for styling. <br>-CREATED BY ANEESH R RAO
            </div>
        </div>