@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

html,body {
  width: 100vw;
  max-height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Protest Riot', sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: large; 
}
.container h1{
    color:#000000;
}
/* HEADER */
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
  background-color: #0e0e52;
}

.logo-div {
  padding-left: 1em;
  background-color: #184e77; 
}

.logo-div > p {
  padding: 0;
  margin: 0;
  align-self: center;

  padding: 1em 1em 1em 0em;
  font-weight: bolder;
  color:#ffecd1; 
}

.nav-buttons {
  display: flex;
  gap: 1em;
  padding: 1em;
}

.nav-buttons > p {
  margin: 0;
}

.nav-buttons > p > a {
  text-decoration: none;
  color: cyan;
  transition: border 200ms;
}

.nav-buttons > p > a:hover {
  border-bottom: 4px solid #ddd;
}

.active-nav-item {
  border-bottom: 4px solid #ddd;
}

/* INDEX */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 2em 0 ;
}

.blog-post-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 70vw;
  padding: 2em;
  border-radius: 20px;
  background-color: #ffffff;
  border-radius: 37px;
  background: #ffffff;
  box-shadow:  22px 22px 60px #c4c4c4,
               -22px -22px 60px #ffffff;
}

.blog-post-form > section {
  display: flex;
  flex-direction: column;
}

.blog-post-form > section > textarea {
  height: 7em;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px;
}
.blog-post-form > section > textarea:hover{
  border-color: #e01e37;

}

.blog-post-form > button {
  padding: 10px;
  color: #ffffff;
  background-color: #1e96fc;
  border-radius: 10px; 
  width: 70px;
  border: none;
  cursor: pointer;
  transition: background-color 500ms;
}

.blog-post-form > button:hover {
  background-color: #1d242b; 
}

.blog-post-form > section > input {
  padding: 5px;
  border-radius:5px;
  
}

.post-delete-form {
  display: flex;
  width: 70vw;
  justify-content: center;
  padding: 1em 2em;
  background-color:#ffffff;
}

.post-delete-form > input {
  width: 5em;
}

.post-delete-form > button {
  border: none;
  position: relative;
  right: 7%;
  padding: 10px;
  color: #ddd;
  background-color: #e01e37;
  border-radius: 10px; 
  cursor: pointer;
  transition: background-color 500ms;
}

.post-delete-form > button:hover {
  background-color: #b21e35; 
}

.blog-posts-container {
  margin-top: 4em;
  width: 70vw;
  border-radius: 10px;
  padding: 1em 2em;
  background-color: #000000;
  border-radius: 50px;
  border-radius: 37px;
background: #ffffff;
box-shadow:  22px 22px 60px #c4c4c4,
             -22px -22px 60px #ffffff;
}

.post-container {
  background-color: #ffffff;
  margin-bottom: 1em;
  border-radius: 35px; 
  overflow: hidden; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.post-container > section > p {
  margin: 0.5em;
  padding:0.2em;
  border-radius: 10px;
  border: solid 1px #000000;
}

.post-top > p {
  color: cyan;
  font-size: 10px;
}

.post-middle > p {
  background-color: #ffffff;
  color: #000000; 
}

.post-bottom > p {
  color:#000000;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 1em;
  background-color: #ffffff;
}

footer > p {
  margin: 0;
  color: #000000;
}